{{ define "main" }}

<div class="w-full text-center">
    <div class="md:grid md:grid-cols-4 md:gap-">
      <div class="md:col-end-4 md:col-span-2">
          <div class="grid grid-cols-4">
            <div class="col-span-4">
                <h1 class="font-miriam text-5xl highlight">Nominate a specialist</h1>
                <hr id="title-divider" width="100%"/>
            </div>
            <div class="col-end-4 col-span-2 text-left">
            We equip people with tools and capabilities and connect them with open knowledge communities worldwide.
            </div>
          </div>
      </div>
      <div class="md:col-start-2 md:col-span-2 text-left mt-12 mb-12 pl-10 md:pl-0">
          <form class="font-miriam w-full">
              <label for="name">Name</label><br>
              <input type="text" id="name" name="name" placeholder="Name of the specialist"><br>
              <label for="mail">Email</label><br>
              <input type="text" id="mail" name="mail" placeholder="Electronic mail"><br>
              <label for="affiliation">Affiliation</label><br>
              <input type="text" id="affiliation" name="affiliation" placeholder="Name of the organization"><br><br>
              <hr class="field_hr"/>
              <label for="area">Area of activity</label><br>
              <input type="text" id="area" name="area" placeholder="Fields of work"><br>
              <label for="country">Country</label><br>
              <input type="text" id="country" name="country" placeholder="Nation"><br>
              <label for="reason">Can you briefly explain why you think this person should be part of the Directory?</label><br>
              <textarea id="reason" name="reason" placeholder="This person should be part of the Directory because..."></textarea><br><br>
              <button class="send-button" type="submit"> Send </button>
          </form>
      </div>
    </div>
    <div class="bg-project-50 project-banner h-auto py-24 px-10">
       <div class="md:w-100 text-center">
        <p class="text-5xl font-miriam">Do you want to submit also a project?</p>
        <p class="text-2xl font-miriam">
        We equip people with tools and capabilities and connect them with open knowledge communities worldwide.
        </p>
        <button class="border-solid border-4 add-project-action py-4 px-8 font-bold font-2xl  font-miriam text-xs hover:bg-gray-200 hover:text-gray-800">Add a project</button>
       </div>
    </div>
</div>

{{ end }}
