{{ define "title" }}
<title>OKFN Network - Project Repository</title>
{{ end }}

{{ define "main" }}
<div class="fixed mt-[50px] w-full z-[200]">
<div id="project-info" class="grid md:grid-cols-5 flex z-[200] absolute place-content-center left-0 top-0 right-0">
</div>
</div>

<div class="w-full text-center">
    <div class="w-full pt-5">
      <div class="grid md:grid-cols-2 md:mx-10 mx-5 grid-cols-2 mb-10">
        <div class="md:col-span-1 col-span-1">
          <a href="https://okfn.org/"><img src="{{ .Site.BaseURL }}images/okfn-net-logo.png" class="logo"></a>
        </div>
        <div class="font-bold md:col-span-1 md:pr-10 col-span-1">
            <a class="ml-10 flex float-right" href="https://okfn.org/network">
              <img class="self-center md:mr-2 md:float-left float-right max-h-6" src="{{ .Site.BaseURL }}images/chevron-left.png">
              <span class="self-center">
              Back to Open Knowledge Network
              </span>
            </a>
        </div>
        </div>
    </div>
    <div class="md:grid md:grid-cols-5 project-content-center">
      {{ $projects := getCSV "," "okfn-network-projects.csv" }}
      {{ $projects := after 1 $projects }}
      {{ partial "projects-header.html" . }}
      {{ partial "projects-filters.html" (dict "projects" $projects "ctx" .) }}

      <div class="md:col-start-2 md:col-span-3 text-left mt-12 pb-12 md:pl-10 pl-5 pr-5 md:pl-0">
        <div class="projects-grid md:grid md:grid-cols-3 grid-cols-1">
          {{ range $.Site.Data.project }}
          {{ end }}
        </div>
      </div>
    </div>
    <div class="bg-[#00D1FF] h-auto py-24 px-10">
      {{ partial "projects-list-footer.html" . }}
    </div>
</div>
{{ end }}

{{ define "scripts" }}

<script type="text/javascript">

  let filters = {
      region: [],
      category: [],
      language: []
  }

  function shuffleArray(arr) {
    for (let i = arr.length - 1; i > 0; i--) {
      const j = Math.floor(Math.random() * (i + 1));
      [arr[i], arr[j]] = [arr[j], arr[i]];
    }
    return arr;
  }

  var projectInfo = document.getElementById("project-info")
  var projects = [
          {{ $projects := getCSV "," "okfn-network-projects.csv" }}
          {{ range $pi, $project := after 1 $projects }}
           {
             "name": {{ index . 1 }},
             "description": {{ index . 2 }},
             "link": {{ index . 3 }},
             "category": {{ index . 4 }},
             "region": {{ index . 5 }},
             "language": {{ index . 6 }},  
             "logo": {{ index . 8 }},
             "organization": {{ index . 0 }},
             },
          {{ end }}
   ]

  projects = shuffleArray(projects)
  for (var i in projects) {
    projects[i]['project_number'] = i
  }

  const projectCardTemplate = (project) => `
 <div class="item md:col-span-1 project-card mx-4 rounded-tr-3xl rounded-bl-3xl pb-10 mb-5 hover:underline hover:cursor-pointer text-ellipsis" onclick="openProject(${project.project_number})">
  <div class="project-logo pl-5 pr-5 pt-2 pb-2">
    <img class="max-w-[80%]"  src="{{ .Site.BaseURL }}images/logos/${project.logo}"> 
  </div>
  <div class="font-bold px-10 pt-5 text-2xl leading-none">
    ${project.name}
  </div>
  <div class="px-10 pt-2">
    ${project.category}
  </div>
</div>
  `
  const projectInfoTemplate = (project) => `
    <div class="md:col-span-3 md:col-start-2 bg-white rounded-[8px] border-4 border-[#00D1FF] p-10">
      <div class="grid md:grid-cols-3">
        <div class="md:col-span-1 pr-10">
          <img src="{{ .Site.BaseURL }}images/logos/${project.logo}">
          <div class="mt-10 text-2xl text-left font-bold">
            ${project.name}
          </div>
          <div class="text-left mt-5">
            <img class="float-left" src={{ .Site.BaseURL }}images/pin-angle-fill.png>
            <div class="mt-10 ml-10 text-sm text-left">
            ${ project.region }
            </div>
          </div>
          <div class="my-10">
            <hr class="border border-black opacity-100"></hr>
          </div>
          <div class="text-left mt-5">
            <img class="float-left" src="{{ .Site.BaseURL }}images/globe.png">
            <a class="overflow-hidden text-[#00D1FF] float-left pl-5 text-ellipsis max-w-[90%]" target="_blank" href="${ project.link }">${ project.link }</a>
          </div>
        </div>
        <div class="md:col-span-2">
        <div class="text-2xl text-left mb-10">
          <mark class="project">
          The project
          </mark>
          <img class="float-right" src="{{ .Site.BaseURL }}images/close.png" onclick="closeDialog()">
        </div>
        <div class="text-left">
        ${project.description}
        </div>
        <div class="mt-10">
          ${getLanguages(project.language)}
        </div>
        <div class="mt-5">
          ${getCategories(project.category)}
        </div>

        </div>
      </div>

    </div>
    `
  
  function getCategories(categories) {
    let categoriesList = categories.split(',')
    let categoriesDiv = (l) => `
    <button class="rounded rounded-full text-[#00D1FF] border-[#00D1FF] border-2 px-5">
      ${l}
    </button>
    `
    return categoriesList.reduce((langHtml, l) => {
      return langHtml + categoriesDiv(l, '')
    }, '')
  }

  function getLanguages(languages) {
    let languageList = languages.split(',')
    let languageDiv = (l) => `
    <button class="rounded rounded-full border-black border-2 px-5">
      ${l}
    </button>
    `
    return languageList.reduce((langHtml, l) => {
      return langHtml + languageDiv(l, '')
    }, '')
  }

  function closeDialog() {
    projectInfo.style.display = "none"  
  }

  function openProject(projectNumber) {
    projectInfo.style.display = "grid"  
    projectInfo.innerHTML = projectInfoTemplate(projects[projectNumber])
  }

  function displayProjects(projects) {
    let projectsGrid = document.getElementsByClassName('projects-grid')[0]
    projectsGrid.innerHTML = ''
    for (var pi in projects) {
      let projectDiv = document.createElement('div')
      projectDiv.innerHTML = (projectCardTemplate)(projects[pi])
      projectsGrid.appendChild(projectDiv)
    }

    /* Add number os displayed elements */

    let resultsNumber = document.getElementById('results')
    results.innerText = `${projects.length} projects matching your filters`
  }

  function addCheckbox(element, name, value, label) {
    let checkbox = `<input type="checkbox" name="${name}" value="${value}">  ${label}</input>`
    let checkboxDom = document.createElement('div')
    checkboxDom.innerHTML = checkbox
    element.appendChild(checkboxDom)
  }

  let regions = []
  let categories = []
  let languages = []

  function getFilterChoices(filterChoices, filterName, projects) {
    for (var p of projects) {
      for (var r of p[filterName].split(',')) {
          r = r.trim()
          if (r !== '' && filterChoices.indexOf(r) < 0) {
          filterChoices.push(r)
        }
      }
    }
    filterChoices.sort()
  } 

  getFilterChoices(regions, 'region', projects)
  getFilterChoices(languages, 'language', projects)
  getFilterChoices(categories, 'category', projects)

  let regionSelector = document.getElementsByClassName('region-selector')[0]
  for (var r of regions) {
    addCheckbox(regionSelector, 'region', r, r)
  }

  let categorySelector = document.getElementsByClassName('category-selector')[0]
  for (var r of categories) {
    addCheckbox(categorySelector, 'category', r, r)
  }

  let languageSelector = document.getElementsByClassName('language-selector')[0]
  for (var r of languages) {
    addCheckbox(languageSelector, 'language', r, r)
  }


  function filterProjects(projects) {
    let filteredProjects = []
    let filterNames = Object.keys(filters)

    for (var p of projects) {
      let m = 1
      for (var filterName of filterNames) {
        if (filters[filterName].length > 0) {
          for (var f of filters[filterName]) { 
            if (p[filterName].indexOf(f) >= 0) {
              m = 1
              break
            } else {
              m = 0
            }
          }
          if (m == 0)
            break
        } 
      }
      if (m > 0)
          filteredProjects.push(p)
    }

    return filteredProjects
  }

  function clickCheckbox(element, filterName) {
      let filterButton = document.querySelector(`#${filterName}-filter > button > span`) 

      if (element.checked) {
        filters[filterName].push(element.value)
        filterButton.innerText = ' ' +filters[filterName].join(', ')
      } else {
        let fIndex = filters[filterName].findIndex((f) => f === element.value)  
        filters[filterName].splice(fIndex, 1)
        filterButton.innerText = ' ' + filters[filterName].join(', ')
      }
      displayProjects(filterProjects(projects))
  }

  // Configure Category

  for(let c of document.getElementsByName('category')) {
    c.onchange = () => { clickCheckbox(c, 'category') }
  }

  // Configure Region

  for(let c of document.getElementsByName('region')) {
    c.onchange = () => { clickCheckbox(c, 'region') }
  }

  // Configure Language

  for(let c of document.getElementsByName('language')) {
    c.onchange = () => { clickCheckbox(c, 'language') }
  }



  function openFilter(filterName) {
    let filterButton = document.querySelector(`#${filterName}-filter > button`) 
    filterButton.onclick = () => {
      if (filterSelector.style.display !== 'block') {
        filterSelector.style.display = 'block'
      } else {
        filterSelector.style.display = ''
      }
      categorySelector.style.display = ''
    }
  }


  function configureFilterButton(filterName) {
    let filterNames = Object.keys(filters)
    let filterButton = document.querySelector(`#${filterName}-filter > button`) 
    let filterSelector = document.getElementsByClassName(`${filterName}-selector`)[0]

    filterButton.onclick = () => {
      if (filterSelector.style.display !== 'block') {
        filterSelector.style.display = 'block'
      } else {
        filterSelector.style.display = ''
      }

      for (var f of filterNames) {
          if (f !== filterName) {
            let filterSelector = document.getElementsByClassName(`${f}-selector`)[0]
            filterSelector.style.display = ''
          }
      }
    }
  }

  configureFilterButton('region')
  configureFilterButton('category')
  configureFilterButton('language')

  displayProjects(projects)

</script>

{{ end }}
