{{ define "title" }}
<title>OKFN Network - Global Directory</title>
<meta name="description" content="The Open Knowledge Network connects specialists of the open movement and promotes them through the Open Knowledge Global Directory.">
<!-- Facebook Meta Tags -->
<meta property="og:url" content="{{ .Params.og_url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ .Params.og_title }}">
<meta property="og:description" content="{{ .Params.og_description }}">
<meta property="og:image" content="{{ .Params.og_image }}">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="network.okfn.org">
<meta property="twitter:url" content="{{ .Params.og_url }}">
<meta name="twitter:title" content="{{ .Params.og_title }}">
<meta name="twitter:description" content="{{ .Params.og_description }}">
<meta name="twitter:image" content="{{ .Params.og_image }}">

{{ end }}

{{ define "main" }}
<div class="md:fixed mt-[50px] w-full z-[200]">
<div id="specialist-info" class="grid md:grid-cols-5 flex z-[200] absolute place-content-center left-0 top-0 right-0">
</div>
</div>

<div class="w-full text-center">
    <div class="w-full pt-5">
      <div class="grid md:grid-cols-2 md:mx-10 mx-5 grid-cols-2 mb-10">
        <div class="md:col-span-1 col-span-1">
          <a href="https://okfn.org/"><img src="{{ .Site.BaseURL }}images/okfn-net-logo.png" class="logo"></a>
        </div>
        <div class="font-bold md:col-span-1 md:pr-10 col-span-1">
            <a class="ml-10 flex float-right" href="https://okfn.org/network">
              <img class="self-center md:mr-2 md:float-left float-right max-h-6" src="{{ .Site.BaseURL }}images/chevron-left.png">
              <span class="self-center">
              Back to Open Knowledge Network
              </span>
            </a>
        </div>
        </div>
    </div>
    </div>
    <div class="md:grid md:grid-cols-5 project-content auto-rows-max">
      {{ $experts := getCSV "," "okfn-network-experts.csv" }}
      {{ partial "specialists-header.html" . }}
      {{ partial "specialists-filters.html" (dict "experts" $experts "ctx" .) }}
      <div class="md:col-start-2 md:col-span-3 text-left mt-10 pb-12 md:pl-10">
        <div class="specialists-grid md:grid md:grid-cols-3">
          {{ range $.Site.Data.project }}
          {{ end }}
        </div>
      </div>
    </div>
    <div class="{{ .Params.type }}-banner h-auto py-24 px-10  bg-specialist">
      {{ partial "specialists-list-footer.html" . }}
    </div>
    <div class="h-auto py-24 mb-10 px-10">
      {{ partial "learn-more.html" . }}
    </div>
</div>
{{ end }}


{{ define "scripts" }}

<script type="text/javascript">

  let filters = {
      region: [],
      category: [],
      language: []
  }

  let lastScroll = 0

  function shuffleArray(arr) {
    for (let i = arr.length - 1; i > 0; i--) {
      const j = Math.floor(Math.random() * (i + 1));
      [arr[i], arr[j]] = [arr[j], arr[i]];
    }
    return arr;
  }

  var specialistInfo = document.getElementById("specialist-info")
  var specialists = [
          {{ $specialists := getCSV "," "okfn-network-experts.csv" }}
          {{ range $pi, $specialist := after 1 $specialists }}
           {
             "name": {{ index . 1 }},
             "description": {{ index . 6 }},
             "email": {{ index . 2 }},
             "category": {{ index . 5 }},
             "region": {{ index . 0 }},
             "language": {{ index . 4 }},  
             "pic": {{ index . 8 }},
             "organization": {{ index . 3 }},
             "pic_blend": {{ index . 9 }},
             "url": {{ index . 10 }}
             },
          {{ end }}
   ]

  specialists = shuffleArray(specialists)
  for (var i in specialists) {
    specialists[i]['specialist_number'] = i
    if (specialists[i]['pic_blend'] === 'FALSE') {
      specialists[i]['pic_blend'] = 'bg-blend-screen'
    } else {
      specialists[i]['pic_blend'] = 'bg-blend-normal'
    }

  }

  const specialistCardTemplate = (specialist) => `
          <div class="md:col-span-1 specialist-card mx-5 pb-10 mb-10 overflow-hidden h-[92%] rhover:cursor-pointer text-ellipsis" onclick="openSpecialist(${specialist.specialist_number})">
            <div class="${specialist.pic_blend} specialist-pic object-cover" style="background-image: url('{{ .Site.BaseURL }}images/directory/${specialist.pic}');"> 
              <!--<img class="object-cover w-full" src="{{ .Site.BaseURL }}images/specialist.png"> -->
            </div>
            <div id="specialist-name" class="font-bold px-10 pt-10 text-2xl leading-none overflow-hidden text-ellipsis">
              ${specialist.name}
            </div>
            <div class="px-10 pt-2 overflow-hidden text-ellipsis">
              ${specialist.organization}
            </div>
          </div>
  `

  const specialistInfoTemplate = (specialist) => `
    <div id="info-dialog" class="md:col-span-3 md:col-start-2 bg-white rounded-[8px] border-4 border-[#00D1FF] p-10">
      <div class="grid md:grid-cols-3">
        <div class="md:col-span-1 pr-10">
          <img src="{{ .Site.BaseURL }}images/directory/${specialist.pic}">
          <div class="mt-10 text-2xl text-left font-bold">
            ${specialist.name}
          </div>
          <div class="text-left mt-5">
            <img class="float-left" src={{ .Site.BaseURL }}images/pin-angle-fill.png>
            <div class="mt-10 ml-10 text-sm text-left">
            ${ specialist.region }
            </div>
          </div>
          <div class="my-10">
            <hr class="border border-black opacity-100"></hr>
          </div>
          <div class="text-left mt-5">
            <img class="float-left" src="{{ .Site.BaseURL }}images/globe.png">
            <a class="overflow-hidden text-[#00D1FF] float-left pl-5 text-ellipsis max-w-[90%]" target="_blank" href="mailto:${ specialist.email }">${ specialist.email }</a>
          </div>
        </div>
        <div class="md:col-span-2">
        <div class="text-2xl text-left mb-10">
          <mark class="specialist">
          Bio
          </mark>
          <img class="float-right" src="{{ .Site.BaseURL }}images/close.png" onclick="closeDialog()">
        </div>
        <div class="text-left">
        ${specialist.description}
        </div>
        <div class="mt-10">
          ${getLanguages(specialist.language)}
        </div>
        <div class="mt-5">
          ${getCategories(specialist.category)}
        </div>

        </div>
      </div>

    </div>
    `
  
  function getCategories(categories) {
    let categoriesList = categories.split(',')
    let categoriesDiv = (l) => `
    <button class="rounded rounded-full text-[#00D1FF] border-[#00D1FF] border-2 px-5">
      ${l}
    </button>
    `
    return categoriesList.reduce((langHtml, l) => {
      return langHtml + categoriesDiv(l, '')
    }, '')
  }

  function getLanguages(languages) {
    let languageList = languages.split(',')
    let languageDiv = (l) => `
    <button class="rounded rounded-full border-black border-2 px-5">
      ${l}
    </button>
    `
    return languageList.reduce((langHtml, l) => {
      return langHtml + languageDiv(l, '')
    }, '')
  }

  function closeDialog() {
    document.getElementById('info-dialog').classList.remove('show-dialog')
    specialistInfo.style.visibility = "hidden"  
    let stateObj = {
      'Title': 'OKFN Global Directory',
      'Url': '/specialist/'
    }
    window.history.pushState(stateObj, stateObj.Title, stateObj.Url)
    if (lastScroll != 0)
        window.scrollTo({top: lastScroll})

  }

  function openSpecialist(specialistNumber) {
    specialistInfo.style.visibility = "visible"  
    specialistInfo.innerHTML = specialistInfoTemplate(specialists[specialistNumber])
    let stateObj = {
      'Title': 'OKFN Global Directory - ' + specialists[specialistNumber]['name'],
      'Url': '/specialist/' + specialists[specialistNumber]['url']
    }
    window.history.pushState(stateObj, stateObj.Title, stateObj.Url)
    lastScroll = window.scrollY
    document.getElementById('specialist-info').scrollIntoView()
    document.getElementById('info-dialog').classList.add('show-dialog')
  }

  function displaySpecialists(specialists) {
    let specialistsGrid = document.getElementsByClassName('specialists-grid')[0]
    specialistsGrid.innerHTML = ''
    for (var pi in specialists) {
      let specialistDiv = document.createElement('div')
      specialistDiv.innerHTML = (specialistCardTemplate)(specialists[pi])
      specialistsGrid.appendChild(specialistDiv)
    }

    /* Add number os displayed elements */

    let resultsNumber = document.getElementById('results')
    results.innerText = `${specialists.length} specialists matching your filters`
  }

  function addCheckbox(element, name, value, label) {
    let checkbox = `<label class="text-sm block w-full"><input type="checkbox" name="${name}" value="${value}">  ${label}</input></label>`
    let checkboxDom = document.createElement('div')
    checkboxDom.innerHTML = checkbox
    element.appendChild(checkboxDom)
  }

  let regions = []
  let categories = []
  let languages = []

  function getFilterChoices(filterChoices, filterName, projects) {
    for (var p of projects) {
      for (var r of p[filterName].split(',')) {
          r = r.trim()
          if (r !== '' && filterChoices.indexOf(r) < 0) {
          filterChoices.push(r)
        }
      }
    }
    filterChoices.sort()
  } 

  getFilterChoices(regions, 'region', specialists)
  getFilterChoices(languages, 'language', specialists)
  getFilterChoices(categories, 'category', specialists)

  let regionSelector = document.getElementsByClassName('region-selector')[0]
  for (var r of regions) {
    addCheckbox(regionSelector, 'region', r, r)
  }

  let categorySelector = document.getElementsByClassName('category-selector')[0]
  for (var r of categories) {
    addCheckbox(categorySelector, 'category', r, r)
  }

  let languageSelector = document.getElementsByClassName('language-selector')[0]
  for (var r of languages) {
    addCheckbox(languageSelector, 'language', r, r)
  }


  function filterSpecialists(specialists) {
    let filteredSpecialists = []
    let filterNames = Object.keys(filters)

    for (var p of specialists) {
      let m = 1
      for (var filterName of filterNames) {
        if (filters[filterName].length > 0) {
          for (var f of filters[filterName]) { 
            if (p[filterName].indexOf(f) >= 0) {
              m = 1
              break
            } else {
              m = 0
            }
          }
          if (m == 0)
            break
        } 
      }
      if (m > 0)
          filteredSpecialists.push(p)
    }

    return filteredSpecialists
  }

  function clickCheckbox(element, filterName) {
      let filterButton = document.querySelector(`#${filterName}-filter > button > span`) 

      if (element.checked) {
        filters[filterName].push(element.value)
        filterButton.innerText = ' ' +filters[filterName].join(', ')
      } else {
        let fIndex = filters[filterName].findIndex((f) => f === element.value)  
        filters[filterName].splice(fIndex, 1)
        filterButton.innerText = ' ' + filters[filterName].join(', ')
      }
      displaySpecialists(filterSpecialists(specialists))
  }

  // Configure Category

  for(let c of document.getElementsByName('category')) {
    c.onchange = () => { clickCheckbox(c, 'category') }
  }

  // Configure Region

  for(let c of document.getElementsByName('region')) {
    c.onchange = () => { clickCheckbox(c, 'region') }
  }

  // Configure Language

  for(let c of document.getElementsByName('language')) {
    c.onchange = () => { clickCheckbox(c, 'language') }
  }


  function openFilter(filterName) {
    let filterButton = document.querySelector(`#${filterName}-filter > button`) 
    let filterSelector = document.getElementsByClassName(`${filterName}-selector`)[0]

    filterButton.onclick = () => {
      if (filterSelector.style.visibility !== 'collapse') {
        filterSelector.classList.remove('visible')
        filterSelector.classList.add('collapse')
      } else {
        filterSelector.classList.remove('collapse')
        filterSelector.classList.add('visible')
 
      }
    }
  }


  function configureFilterButton(filterName) {
    let filterNames = Object.keys(filters)
    let filterButton = document.querySelector(`#${filterName}-filter > button`) 
    let filterSelector = document.getElementsByClassName(`${filterName}-selector`)[0]

    filterButton.onclick = () => {
      if (!filterSelector.classList.contains('visible')) {
        filterSelector.classList.remove('collapse')
        filterSelector.classList.add('visible')
      } else {
        filterSelector.classList.remove('visible')
        filterSelector.classList.add('collapse')
 
      }

      for (var f of filterNames) {
          if (f !== filterName) {
            let filterSelector = document.getElementsByClassName(`${f}-selector`)[0]
            filterSelector.classList.add('collapse')
          }
      }
    }
  }

  configureFilterButton('region')
  configureFilterButton('category')
  configureFilterButton('language')

  displaySpecialists(specialists)

  let locationPath = window.location.pathname.split('/')

  if (locationPath.length > 2) {
    let specialistURL = locationPath[2]
    let specialistIndex = specialists.findIndex((s) => s.url == specialistURL)
    if (specialistIndex >= 0) 
      openSpecialist(specialistIndex)
  }

</script>

{{ end }}
