{{ define "main" }}
<div class="w-full text-center">
    <div class="w-full pl-10 pt-10 pb-10">
      <img src="{{ .Site.BaseURL }}images/okfn-net-logo.png">
    </div>
    <div class="md:grid md:grid-cols-5 page-content">
      {{ partial "form-header.html" . }}
      <div class="md:col-start-2 md:col-span-3 text-left mt-12 pb-12 md:pl-10 pl-5 pr-5 md:pl-0">
        <form class="font-miriam w-full form-{{ .Params.type }}">
              <label for="name">Name</label><br>
              <input class="md:w-2/5 w-full" type="text" id="name" name="name" placeholder="Name of the specialist"><br>
              <br>
              <label for="mail">Email</label><br>
              <input class="md:w-2/5 w-full" type="text" id="mail" name="mail" placeholder="Electronic mail"><br>
              <br>
              <label for="affiliation">Affiliation</label><br>
              <input class="md:w-2/5 w-full" type="text" id="affiliation" name="affiliation" placeholder="Name of the organization"><br><br>
              <hr class="md:w-2/5 w-full field_hr"/>
              <label for="area">Area of activity</label><br>
              <input class="md:w-2/5 w-full" type="text" id="area" name="area" placeholder="Fields of work"><br>
              <br>
              <label for="country">Country</label><br>
              <select class="form-control md:w-2/5 w-full" name="country">
              {{ range $.Site.Data.countries.countries }}
                 <option value="{{ .code }}">{{ .name }}</option>
              {{ end }}
              </select>
              <br>
              <br>
              <label for="reason">Can you briefly explain why you think this person should be part of the Directory?</label><br>
              <textarea class="md:w-5/6 h-96 w-full" id="reason" name="reason" placeholder="This person should be part of the Directory because..."></textarea><br><br>
              <button class="send-button" type="submit"> Send </button>
          </form>
      </div>
    </div>
    <div class="specialist-banner h-auto py-24 px-10">
      {{ partial "form-footer.html" . }}
    </div>
</div>
{{ end }}
