{{ define "main" }}
<div class="fixed mt-[50px] w-full z-10">
<div id="specialist-info" class="grid md:grid-cols-5 flex z-10 absolute place-content-center left-0 top-0 right-0">
</div>
</div>

<div class="w-full text-center">
    <div class="w-full pl-5 pt-5 pb-5">
      <img src="{{ .Site.BaseURL }}images/okfn-net-logo.png" class="logo">
    </div>
    <div class="md:grid md:grid-cols-5 project-content">
      {{ $experts := getCSV "," "okfn-network-experts.csv" }}
      {{ partial "specialists-header.html" . }}
      {{ partial "specialists-filters.html" (dict "experts" $experts "ctx" .) }}
      <div class="md:col-start-2 md:col-span-3 text-left mt-10 pb-12 md:pl-10 pl-5 md:pl-0">
        <div class="md:grid md:grid-cols-3">
          {{ range $specialistNumber, $specialist := after 1 $experts }}
             {{ partial "specialist-card.html" (dict "specialist" . "ctx" $ "specialistNumber" $specialistNumber) }}
          {{ end }}
          {{ range $.Site.Data.project }}
          {{ end }}
        </div>
      </div>
    </div>
    <div class="{{ .Params.type }}-banner h-auto py-24 px-10  bg-specialist">
      {{ partial "specialists-list-footer.html" . }}
    </div>
</div>
{{ end }}


{{ define "scripts" }}

<script type="text/javascript">

  var specialistInfo = document.getElementById("specialist-info")
  var specialists = [
          {{ $specialists := getCSV "," "okfn-network-experts.csv" }}
          {{ range $pi, $specialist := after 1 $specialists }}
           {
             "specialist_name": {{ index . 1 }},
             "specialist_description": {{ index . 6 }},
             "specialist_email": {{ index . 2 }},
             "specialist_category": {{ index . 5 }},
             "specialist_region": {{ index . 0 }},
             "specialist_languages": {{ index . 4 }},  
             "specialist_logo": {{ index . 8 }},
             "specialist_organization": {{ index . 3 }}
             },
          {{ end }}
   ]

  const specialistInfoTemplate = (specialist) => `
    <div class="md:col-span-3 md:col-start-2 bg-white rounded-[8px] border-4 border-[#00D1FF] p-10">
      <div class="grid md:grid-cols-3">
        <div class="md:col-span-1 pr-10">
          <img src="{{ .Site.BaseURL }}images/directory/${specialist.specialist_logo}">
          <div class="mt-10 text-2xl text-left font-bold">
            ${specialist.specialist_name}
          </div>
          <div class="text-left mt-5">
            <img class="float-left" src={{ .Site.BaseURL }}images/pin-angle-fill.png>
            <div class="mt-10 ml-10 text-sm text-left">
            ${ specialist.specialist_region }
            </div>
          </div>
          <div class="my-10">
            <hr class="border border-black opacity-100"></hr>
          </div>
          <div class="text-left mt-5">
            <img class="float-left" src="{{ .Site.BaseURL }}images/globe.png">
            <a class="overflow-hidden text-[#00D1FF] float-left pl-5 text-ellipsis max-w-[90%]" target="_blank" href="mailto:${ specialist.specialist_email }">${ specialist.specialist_email }</a>
          </div>
        </div>
        <div class="md:col-span-2">
        <div class="text-2xl text-left mb-10">
          <mark class="specialist">
          The specialist
          </mark>
          <img class="float-right" src="{{ .Site.BaseURL }}images/close.png" onclick="closeDialog()">
        </div>
        <div class="text-left">
        ${specialist.specialist_description}
        </div>
        <div class="mt-10">
          ${getLanguages(specialist.specialist_languages)}
        </div>
        <div class="mt-5">
          ${getCategories(specialist.specialist_category)}
        </div>

        </div>
      </div>

    </div>
    `
  
  function getCategories(categories) {
    let categoriesList = categories.split(',')
    let categoriesDiv = (l) => `
    <button class="rounded rounded-full text-[#00D1FF] border-[#00D1FF] border-2 px-5">
      ${l}
    </button>
    `
    return categoriesList.reduce((langHtml, l) => {
      return langHtml + categoriesDiv(l, '')
    }, '')
  }

  function getLanguages(languages) {
    let languageList = languages.split(',')
    let languageDiv = (l) => `
    <button class="rounded rounded-full border-black border-2 px-5">
      ${l}
    </button>
    `
    return languageList.reduce((langHtml, l) => {
      return langHtml + languageDiv(l, '')
    }, '')
  }

  function closeDialog() {
    specialistInfo.style.display = "none"  
  }

  function openSpecialist(specialistNumber) {
    specialistInfo.style.display = "grid"  
    specialistInfo.innerHTML = specialistInfoTemplate(specialists[specialistNumber])
  }

</script>

{{ end }}
