{{ define "title" }}
<title>OKFN Network - Suggest a specialist</title>
{{ end }}

{{ define "main" }}
<div class="w-full text-center">
    <div class="w-full pt-5">
      <div class="grid md:grid-cols-2 md:mx-10 mx-5 grid-cols-2 mb-10">
        <div class="md:col-span-1 col-span-1">
          <a href="https://okfn.org/"><img src="{{ .Site.BaseURL }}images/okfn-net-logo.png" class="logo"></a>
        </div>
        <div class="font-bold md:col-span-1 md:pr-10 col-span-1">
            <a class="ml-10 flex float-right" href="https://okfn.org/network">
              <img class="self-center md:mr-2 md:float-left float-right max-h-6" src="{{ .Site.BaseURL }}images/chevron-left.png">
              <span class="self-center">
              Back to Open Knowledge Network
              </span>
            </a>
        </div>
        </div>
    </div>
    <div class="md:grid md:grid-cols-5 page-content">
      {{ partial "form-header.html" . }}
      <div class="md:col-start-2 md:col-span-3 text-left mt-12 pb-12 md:pl-10 pl-5 pr-5 md:pl-0">
        <form method="POST" class="font-miriam w-full form-{{ .Params.type }}" action="{{ $.Site.Params.staticmanURL }}v3/entry/github/okfn/network/main/specialist">
              <label for="name" class="mb-2">Name</label><br>
              <input class="md:w-2/3 sm:w-full" type="text" id="name" name="fields[name]" placeholder="Name of the specialist"><br>
              <br>
              <label for="affiliation" class="mb-2">Affiliation</label><br>
              <input class="md:w-2/3 sm:w-full" type="text" id="affiliation" name="fields[affiliation]" placeholder="Name of the organization"><br><br>
              <hr class="md:w-2/3 field_hr mt-5"/>
              <label for="email" class="mb-2 mt-5">Email</label><br>
              <input class="md:w-2/3 sm:w-full" type="text" id="email" name="fields[email]" placeholder="Electronic mail"><br>
              <br>
              <label for="area" class="mb-2">Area of activity</label><br>
              <input class="md:w-2/3 sm:w-full" type="text" id="area" name="fields[area]" placeholder="Fields of work"><br>
              <br>
              <label for="country" class="mb-2">Country</label><br>
              <select class="form-control form-control-specialist md:w-1/5 sm:w-full mt-2" name="fields[country]">
              {{ range $.Site.Data.countries.countries }}
                 <option value="{{ .code }}">{{ .name }}</option>
              {{ end }}
              </select>
              <br>
              <br>
              <label for="reason" class="mb-2">Can you briefly explain why you think this person should be part of the Directory?</label><br>
              <textarea class="h-80 w-full" id="reason" name="fields[reason]" placeholder="This person should be part of the Directory because..."></textarea><br>
              <p class="md:w-2/3 mt-10 mb-10">This form captures expression of interest in joining the Open Knowledge Global Directory. The data provided via this form will be published by Open Knowledge Foundation on <a href="https://network.okfn.org/specialist">https://network.okfn.org/specialist</a>. If you are inputting someone else’s data, Open Knowledge Foundation will check with the person before publication. <br>You can ask at any point that your data is removed.</p>
              <div class="md:col-span-1 col-span-1 flex-initial">
                <button class="specialist-send-button hover:underline text-bold text-lg" type="submit"> Send </button>
              </div>
          </form>
      </div>
    </div>
    <div class="specialist-banner h-auto py-24 px-10">
      {{ partial "specialist-form-footer.html" . }}
    </div>
</div>
{{ end }}
