@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'DM Sans';
    src: url(../fonts/DMSans-Regular.woff) format('woff'),
         url(../fonts/DMSans-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Miriam Libre';
    src: url(../fonts/MiriamLibre-Regular.woff) format('woff'),
         url(../fonts/MiriamLibre-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
    background: #fff url("../images/blurred_dots.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 30%;
    align-items: center;
}

body.project-body {
    background: #fff url("../images/project-background.png");
    font-family: 'DM Sans', sans-serif;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 30%;
    align-items: center;
    position: relative;
}

.page-content {
    background: url("../images/blurred_dots_bottom.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 30%;
}

.project-content {
    background: url("../images/project-background-bottom.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 30%;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.send-button {
  background-image: url('../images/add-project-button.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 90px;
  width: 160px;
}

.specialist-send-button {
  background-image: url('../images/specialist-button.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 90px;
  width: 160px;
}

/*Header*/
.header-container{
    background: #fff url("../images/blurred_dots.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: calc(100vh - 72px);
    display: flex;
    align-items: center;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2{
    font-family: 'Miriam Libre', serif; 
}

#title-divider {
    margin: 45px 0px 25px;
    border: 2px solid black;
    border-radius: 2px;
}

.highlight-specialist {
    box-shadow: inset 0 -38px 0 #FF80DB, inset 0 -1px 0 black
}

.highlight-project {
    box-shadow: inset 0 -38px 0 #AEFFEC, inset 0 -1px 0 black
}
label {
    color: black;
    font-family: 'Miriam Libre', serif;
    font-size: 24px;
    font-weight: bold;
}

input[type=text] {
    background-color: #FFDFF6;
    padding: 12px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    color: #4b4b4b;
} 

.form-project input[type=text] {
    background-color: #AEFFEC;
}

#specialist-info {
  transition: all 0.3s;
}

#info-dialog {
  transition: all 0.3s;
	opacity: 0;
  transform: scale(0);
}

#info-dialog.show-dialog {
  opacity: 1;
  transform: scale(1);
}

option {
    background-color: #FFDFF6;
    width: 60%;
    padding: 12px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    color: #4b4b4b;
} 


input::placeholder {
  color: black;
  opacity: 0.7;
}

.field_hr {
    background-color: #FF80DB; 
    margin-bottom: 20px;
    opacity: 1;
    height: 4px;
}

.form-project .field_hr {
    background-color: #AEFFEC; 
}

textarea {
    background-color: #FFDFF6;
    padding: 15px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    color: #4b4b4b;
}
textarea:focus-visible, input:focus-visible{
  outline: none !important;
}

.form-project textarea {
    background-color: #AEFFEC;
}

.form-control{
  border: 3px solid #AEFFEC;
  padding-left: 20px;
}

.form-control-specialist{
  border: 3px solid #FF80DB;
  padding-left: 20px;
}

input[type="text"]{
  padding: 15px 20px;
}

textarea::placeholder {
  color: black;
  opacity: 0.7;
}

.project-banner {
  background-color: #FF80DB;
}

.projects-list-banner {
  background-color: #00D1FF;
}

.specialist-banner {
  background-color: #AEFFEC;
}

.add-project-action {
  border-color: black;
}

.add-project-button {
  background: rgba(255, 255, 255, 0) url('../images/add-project-button.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 182px;
  min-width: 120px;
  width: 100%;
}

.add-project-button:hover{
  cursor: pointer;
}

.add-project-button > div {
  max-width: 200px;
}

.project-card {
  background-color: #AEFFEC;
}

.project-logo {
  position: relative;
}

.project-logo:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10px;
  width: 50%;
  border-bottom: 3px solid #FF80DB;
}

mark.project {
    background-color: rgba(0,0,0,0);
    box-shadow: inset 0 -38px 0  #AEFFEC, inset 0 -1px 0 black;
}

mark.specialist {
    background-color: rgba(0,0,0,0);
    box-shadow: inset 0 -38px 0 #FF80DB, inset 0 -1px 0 black;
}

.bg-specialist{
  background-color: #FF80DB;
}

.add-specialist-button{
  background: rgba(255, 255, 255, 0) url('../images/specialist-button.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 182px;
  min-width: 120px;
  width: 100%;
}

.add-specialist-button:hover{
  cursor: pointer;
}

.add-specialist-button > div {
  max-width: 200px;
}

.specialist-card {
  background-color: #D5F4FB;
}

.specialist-pic {   
  height: 160px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #00D1FF;
  transition: all 0.35s linear;
}

.specialist-pic:hover {
  background-color: transparent;
}

.logo{
  max-height: 4.8em;
}

.filter-selector {
  transition: all 0.3s;
}

.filter-selector.visible {
  transition: all 0.3s ease-in-out;
  transform: scaleY(1);
  transform-origin: left top;

}

.filter-selector.collapse {
  transition: all 0.3s ease-in-out;
  transform-origin: left top;
  transform: scaleY(0);
}

.filter-button {
  transition: all 0.3s ease-in-out;
}

footer {
  background-color: black;
  color: white;
}

footer > div > hr {
  background-color: white;
  opacity: 1;
  border-size: 2px;
}

footer > div.license > p {
  padding-top: 15px;
}

footer  a {
  color: white;
  font-weight: bold;
}
