          <div class="md:col-span-1 project-card mx-4 rounded-tr-3xl rounded-bl-3xl pb-10 mb-5 hover:underline hover:cursor-pointer text-ellipsis" onclick="openProject({{ .projNumber }})">
            <div class="project-logo pl-5 pt-2 pb-2">
              <img src="{{ .ctx.Site.BaseURL }}images/logos/{{ index .project 8 }}"> 
            </div>
            <div class="font-bold px-10 pt-5 text-2xl leading-none">
              {{ index .project 1 }}
            </div>
            <div class="px-10 pt-2">
              {{ index .project 0 }}
            </div>
          </div>

