<div class="md:w-100 text-center grid grid-cols-5">
  <div class="md:col-start-2 md:col-span-3 col-span-5 mt-10">
   <div  class="text-5xl font-miriam grid-start-1 col-span-5">{{ .Params.footer_title }}</div>
   <div class="text-2xl font-miriam pt-10 md:pl-20 md:pr-20">
     {{ .Params.footer_text }}
   </div>
   </div>
 <div class="md:col-span-5 col-span-5 pt-20 text-center">
   <a href="{{ .Site.BaseURL }}{{ .Params.footer_link }}">
     <button class="border-solid border-4 add-project-action py-4 px-8 font-bold font-miriam text-lg hover:bg-aeroblue-500 hover:underline">{{ .Params.footer_button }}</button>
   </a>
 </div>
</div>