<div class="md:col-end-5 md:col-span-3">
    <div class="grid md:grid-cols-2 grid-cols-1">
      <div class="md:col-span-1 col-span-1">
        <div class="grid place-content-center add-project-button hover:underline text-lg font-bold">
          <div class="">
          <a href="{{ $.ctx.Site.BaseURL}}/project/add">Add a project<br/> to the Repository</a>
          </div>
        </div>
        <div class="font-bold">
          {{ len $.projects }} projects matching your filters
        </div>
      </div>
      <div class="md-col-span2 text-left mx-10">
        <div class="md:col-span-1 col-span-1">
          <button class="rounded-full border-black border-2 py-2 px-5 align-middle flex">
            Category
            <img class="float-right self-center ml-5" src={{ $.ctx.Site.BaseURL }}/images/select-down.png>
          </button>
        <div class="md:col-span-1 col-span-1 mt-5">
          <button class="rounded-full border-black border-2 py-2 px-5 align-middle flex">
            Language
            <img class="float-right self-center ml-5" src={{ $.ctx.Site.BaseURL }}/images/select-down.png>

          </button>
        </div>
        <div class="md:col-span-1 col-span-1 mt-5">
          <button class="rounded-full border-black border-2 py-2 px-5 align-middle flex">
            Region
            <img class="float-right self-center ml-5" src={{ $.ctx.Site.BaseURL }}/images/select-down.png>

          </button>
        </div>
      </div>
      </div>
    </div>
</div>
