          <div class="md:col-span-1 specialist-card mx-4 pb-10 mb-5 hover:underline hover:cursor-pointer text-ellipsis">
            <div class="specialist-pic pl-5 pt-2 pb-2">
              <img src="{{ .ctx.Site.BaseURL }}images/specialist-pic.png"> 
            </div>
            <div class="font-bold px-10 pt-5 text-2xl leading-none text-ellipsis">
              {{ index .project 1 }}
            </div>
            <div class="px-10 pt-2">
              {{ index .project 0 }}
            </div>
          </div>

