          <div class="md:col-span-1 specialist-card mx-4 pb-10 mb-10 hover:cursor-pointer text-ellipsis hover:underline">
            <div class="specialist-pic object-cover" style="background-image: url('{{ .ctx.Site.BaseURL }}images/directory/{{ index .specialist 8}}');"> 
              <!--<img class="object-cover w-full" src="{{ .ctx.Site.BaseURL }}images/specialist.png"> -->
            </div>
            <div class="font-bold px-10 pt-10 text-2xl leading-none text-ellipsis">
              {{ index .specialist 1 }}
            </div>
            <div class="px-10 pt-2" >
              {{ index .specialist 3 }}
            </div>
          </div>

