<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nominate a specialist</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!--navbar?-->
    <div class="header-container">
        <div class="wrapper">
            <header>
                <div class="hero-content">
                      <h1 class="highlight">Nominate a specialist</h1>
                      <hr id="title-divider" width="100%"/>
                      <p>Add a small description here</p>
                </div>
            </header>
            <div class="container">
                <form>
                    <label for="name">Name</label><br>
                    <input type="text" id="name" name="name" value="Name of the specialist"><br>
                    <label for="mail">Email</label><br>
                    <input type="text" id="mail" name="mail" value="Electronic mail"><br>
                    <label for="affiliation">Affiliation</label><br>
                    <input type="text" id="affiliation" name="affiliation" value="Name of the organization"><br><br>
                    <hr width="30%"/>
                    <label for="area">Area of activity</label><br>
                    <input type="text" id="area" name="area" value="Fields of work"><br>
                    <label for="country">Country</label><br>
                    <input type="text" id="country" name="country" value="Nation"><br>
                    <label for="reason">Can you briefly explain why you think this person should be part of the Directory?</label><br>
                    <input type="text" id="reason" name="reason" value="This person should be part of the Directory because..."><br><br>
                    <input type="submit" value="SEND">
                </form>
            </div>
            <div class="cta">
                <h2>Do you want to submit also a project?</h2>
                <p>Lorem ipsum dolor bla bla bla...</p>
                <button class="basic-button"> Fill the form</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>